{% load i18n %}{% autoescape off %}
    {% blocktrans with name=user.get_username %}Hi {{ name }}!{% endblocktrans %}

    {% blocktrans %}You're receiving this email because you requested a password reset for your user account at
        {{ site_name }}.{% endblocktrans %}

    {% trans "Please go to the following page and choose a new password:" %}
    {% block reset_link %}
        {{ protocol }}://{{ site_domain }}/{{ redirect_confirm }}{{ uid }}/{{ token }}
    {% endblock %}

    {% trans "Be careful this link is valid only 24h!" %}

    {% blocktrans %}If you have any question, please contact us at {{ contact_email }}.{% endblocktrans %}

    {% trans "Thanks for using our site," %}
    {% blocktrans %}The {{ site_name }} team!{% endblocktrans %}



    {% trans "This is an automatic email, don't respond to this sender." %}
{% endautoescape %}